@charset "gb2312";/*  */

/* -- 全局定位 --*/

* {margin:0px auto; padding:0px; font-size:12px; font-weight:normal; list-style-type:none;  }

html, body{ margin:auto; padding:0px;background-color:#fff; text-align:center; }

#container{ margin:auto; width:100%; height:100%; padding-top:5px;}

.clear{ clear:both; font-size:0px; }

.center{margin:0px auto;}

.w890{width:890px;position:relative;}

.mt1{/* ( margin-top * 1 ) */margin-top:10px;}

.title{font-size:14px; color:#444; }

img{border:0px;}

.fc_03c{color:#03C;}

a{color:#3366CC;text-decoration:none;}

a:hover{color:#F33;text-decoration:underline;}

/* 头部定位 */

#book_header{width:890px; }

#book_topimg{width:100%;}

#book_topbg{/*background:url(../img/book_topbg.gif) no-repeat; */width:890px; height:85px; margin:0 auto;}

#book_logo{width:290px; height:70px; float:left; margin-top:0px; margin-left:10px;}

#book_banner{background:url(../img/book_banner.gif) no-repeat; width:480px; height:72px; margin:12px 0 0 10px; overflow:hidden;float:right;}

#book_menubg{background:url(../img/book_nav_bg.gif) no-repeat; height:30px; margin-bottom:2px; width:890px; }

 /* 导航背景 */

#book_menu{ height:30px; line-height:30px; color:#c4c4c4; margin:0 auto;margin-left:15px;}

#book_menu ul {list-style:none;}

#book_menu li {height:30px;line-height:30px; float:left; font-size:14px; text-align:center; }

#book_menu li.fenge{BACKGROUND: url(../img/rs_hz_119.gif) no-repeat 0px 0px; FLOAT: left; OVERFLOW: hidden;WIDTH:2px; HEIGHT: 30px}

#book_menu li a{color:#FFFFFF;text-decoration:none; font-size:14px;font-weight:bold;padding:0px 12px;height:30px;line-height:30px; display:inline-block;}

#book_menu li a:hover{background:url(../img/nav_li_bgh.gif) repeat-x ;color:#fff;height:30px;line-height:30px;}

#book_go{background:url(../img/book_go.gif) no-repeat; width:16px; height:16px; margin-top:7px; float:left; margin-left:5px; }

#main{width:890px; margin:0 auto;background:url(../img/book_mainbg.gif) repeat-x; text-align:center;}

#mains{width:890px; margin:0 auto;background:url(../img/book_mainbg.gif) repeat-x; text-align:center;}

.header .search_l{float:left;background:url(../img/search_l.gif) no-repeat bottom; width:5px; height:33px;}

.header .search_r{float:right;background:url(../img/search_r.gif) no-repeat bottom; width:5px; height:33px;}

.header .search{height:33px;background:url(../img/search_bg.gif) repeat-x bottom;clear:both;margin-top:-2px;}

.header .search .form{padding-left:8px;padding-top:3px;float:left;width:370px;}

.header .search .form h4{display:none;}

.header .search .form input.search-keyword{width:124px;height:18px;border:none;background:url(../img/search-bg.gif) left top no-repeat;line-height:15px;font-size:12px;padding:5px 3px 0px 58px;overflow:hidden;}

.header .search .form select.search-option{margin-left:2px;}

.header .search .form button.search-submit{width:68px;height:22px;border:none;background:#F00 url(../img/search-bg.gif) right top no-repeat;font-size:0px;line-height:100px;margin-left:2px;*margin-left:5px;overflow:hidden;}

.header .tags{float:left;margin-left:10px;padding-top:6px;width:236px;}

.header .tags h4{width:66px;height:19px;float:left;font-size:0px;line-height:100px;overflow:hidden;background:url(../img/search-tags-title.gif) no-repeat;}

.header .tags ul{width:170px;height:21px;float:left;overflow:hidden;}

.header .tags ul li{float:left;line-height:19px;padding:0px 2px;color:#3F90AE;}

.header .tags ul li a{color:#3F90AE;}

/* 中间定位 */

#book_main{ width:890px;margin:0 auto;}

.book_news{width:888px; border:1px solid #cacaca; margin-top:10px;}

.book_news_title{width:888px; background-color:#efefef; height:35px; text-align:left; }

.book_news_title ul{list-style:none;}

.book_news_title li{ background:url(/image/book_news.gif) no-repeat 10px 6px; height:35px; font-size:14px; color:#444; font-weight:bold; line-height:35px; text-indent:40px; }

.book_news_style{width:868px; padding:18px 0px 0px 10px;}

.book_news_style_form{width:432px; text-align:left; float:left; margin-bottom:15px; display:inline-block; height:170px;}

.book_news_style_img{width:130px; float:left;background:url(../img/bg001.gif) 0 -64px no-repeat;}

.book_news_style_img img{width:120px;height:150px;margin:3px 0 3px 3px;}

.book_news_style_text{width:290px; float:left;padding-left:10px; overflow:hidden;}

.book_news_style_text h1{font-size:14px; font-weight:bold; color:#F42C20; line-height:20px; }

.book_news_style_text h1 a{font-size:14px; font-weight:bold; color:#F42C20; text-decoration:none; line-height:20px; }

.book_news_style_text h1 a:hover{ color:#444;}

.book_news_style_text h2{line-height:20px;}

.book_news_style_text h2 a{color:#444;text-decoration:none; line-height:20px;}

.book_news_style_text h3{color:#444; border-top:1px dotted #bebebe; padding-top:5px;text-decoration:none; line-height:20px; }


.listbox{width:890px;overflow:hidden;clear:both;overflow:hidden;margin-bottom:10px;}

.listbox dl{width:437px;margin-top:10px;float:left;}

.listbox dl ul{height:160px;}

.listbox ul a{color:#777;font-size:14px;}

.tbox{width:890px;border-bottom:1px solid #dfdfdf;overflow:hidden;margin-right:16px;}

.tbox dt{height:33px;background:url(../img/mbox-tbg.png) right top no-repeat;overflow:hidden;clear:both;}

.tbox dt strong{height:33px;line-height:33px;padding-left:10px;padding-right:4px;display:block;float:left;color:#F42A1E;font-size:14px;background:url(../img/mbox-tbg.png) left top no-repeat;letter-spacing:1px;}

.tbox dd{border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;padding:2px 4px 4px;overflow:hidden;}

.tbox li{text-align:left;}

.rbox{width:890px;border-bottom:1px solid #dfdfdf;overflow:hidden;}

.rbox dt{height:33px;background:url(../img/mbox-tbg.png) right top no-repeat;overflow:hidden;clear:both;}

.rbox dt strong{height:33px;line-height:33px;padding-left:10px;padding-right:4px;display:block;float:left;color:#F42A1E;font-size:14px;background:url(../img/mbox-tbg.png) left top no-repeat;letter-spacing:1px;}

.rbox dd{border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;padding:2px 4px 4px;overflow:hidden;}

.rbox li{text-align:left;}

.d1{padding:4px 0px;}

.d1 li{height:27px;line-height:27px;overflow:hidden;}

.d1 li span{color:#999;margin-right:5px;float:right;}

.date{font-size:14px;}

.ico3 li{padding-left:16px;background:url(../img/ico-3.gif) 7px 9px no-repeat;}

/* 书页定位 */


.book_news_style_form1{width:560px; text-align:left; float:left; margin-top:10px; margin-left:26px; margin-bottom:10px; }

.book_news_style_img1{width:160px; height:150px; float:left;margin-top:10px; margin-left:26px;}

.book_news_style_img1 img{width:130px; height:150px; border:1px dotted #8f8f8f;padding:3px;}

.book_news_style_text2{width:490px; float:left;padding-top:4px;padding-left:30px; overflow:hidden;}

.book_news_style_text2 .yin_1{background:url(../img/001.gif) no-repeat; width:148px; height:88px; position:absolute;index:1; float:right; right:250px; margin-top:-40px;}

.book_news_style_text2 .yin_2{background:url(../img/002.gif) no-repeat; width:148px; height:88px; position:absolute;index:1; float:right; right:250px; margin-top:-40px;}

.book_news_style_text2 .yin_3{background:url(../img/003.gif) no-repeat; width:148px; height:88px; position:absolute;index:1; float:right; right:250px; margin-top:-40px;}

.book_news_style_text2 h1{font-weight:bold; color:#444; font-size:15px;}

.book_news_style_text2 h1 a{font-weight:bold; color:#b70000;text-decoration:none; line-height:20px; font-size:13px;}

.book_news_style_text2 h2{color:#444; margin-top:5px; margin-bottom:5px; width:150px; float:left; overflow:hidden; height:16px;}

.book_news_style_text2 h2 a{ color:#b70000; }

.book_news_style_text2 h3{color:#444; border-top:1px dotted #bebebe; padding-top:5px;text-decoration:none; line-height:20px; float:left; width:400px; }



.book_article_title{ background-color:#f1f1f1; color:#8f8f8f; height:25px; width:540px; margin-left:30px; float:left; margin-top:32px; line-height:25px; text-indent:10px; }

.msgarea{padding-left:30px;margin-top:10px;width:540px;overflow: auto;float: left;color:#8f8f8f;text-align: left;line-height: 20px;}

.book_article_listtable{width:848px; border-top:1px dotted #dfdfdf; height:30px; background-color:#f8f8f8; line-height:30px; text-align:left; text-indent:10px;font-size:14px;}

.book_article_texttable{width:848px; margin:auto;margin-top:10px; margin-bottom:20px; }

.book_article_texttitle{width:848px; height:30px; background-color:#f1f1f1; line-height:30px; color:#444; font-weight:bold;font-size:14px;}

.book_article_texttitle a{ font-weight:bold; color:#444; text-decoration:none;}

.book_article_listtext{width:848px; color:#444; line-height:20px; text-align:left; padding-left:8px; }

#chapterlist dd {float:left;height:20px;margin:0px;padding:10px 0px 0px;width:212px;overflow:hidden;}

#chapterlist dd a{ color:#444; text-decoration:none;font-size:14px;}

#chapterlist dd a:hover{ color:#F42A1E; text-decoration:none;font-size:14px;}

/*分类页*/

.book_listpage{width:890px; height:50px; background-color:#f1f1f1; border:1px solid #cacaca; line-height:50px; color:#444; margin-top:10px;}

.pagelink{margin-right:300px; margin-top:12px; border: 1px solid #a3bee8; float: right; background: #f1f1f1; line-height:24px; padding:0px;}

.pagelink a, .pagelink strong, .pagelink em, .pagelink kbd, .pagelink a.first, .pagelink a.last, .pagelink a.prev, .pagelink a.next, .pagelink a.pgroup, .pagelink a.ngroup{float: left; padding: 0 6px;}

.pagelink a:hover{background-color: #f1f1f1; }

.pagelink strong{font-weight: bold; color: #ff6600; background: #e9f1f8;}

.pagelink kbd{height:24px; border-left: 1px solid #a3bee8;}

.pagelink em{height:24px; border-right: 1px solid #a3bee8; font-style:normal;}

.pagelink input{border: 1px solid #a3bee8; color: #054e86; margin-top:1px; height: 18px;}

/*文章内容页*/

#book_middle{width:890px; margin:0 auto;margin-top:8px;}

.book_middle_article{width:882px; border:1px solid #cacaca; margin-bottom:10px;}

.book_middle_title{background:url(../img/gif_57_030.gif) no-repeat 10px 10px; color:#999; text-indent:35px; width:880px;height:35px;background-color:#efefef; border:1px solid #fff; text-align:left; line-height:37px; }

.book_middle_title a{ color:#999; text-decoration:none; }

.book_middle_title a:hover{ color:#ee0000;}

.book_middle_title span{float:right;padding-right:10px;}

.book_middle_text{ width:880px; padding:0px; background-color:#fafafa;}

.book_middle_text .adtext {padding-top:16px;padding-bottom:10px;}

.book_middle_text dt{ color:#444; font-size:30px; font-weight:bold; line-height: 220%;}

.book_middle_text .da{ color:#444; font-size:30px; font-weight:bold; line-height: 220%;}

.book_middle_text .da a{ color:#444; font-size:30px; font-weight:bold; line-height: 220%;}

.book_middle_text .sdt { color:#444; line-height: 220%;border-bottom:1px solid #cacaca;}

.book_middle_text dd{ color:#444; font-size:14px; line-height:25px; margin-top:16px; margin-bottom:10px; text-align: center;}

.book_middle_text dd #booktext{ font-size:16px;padding: 10px 1% 10px 2%;  text-align: left;}

.book_middle_text dd p{ font-size:16px;padding: 10px 1% 10px 2%;  text-align: left;}

.book_middle_text_next{ width:882px; border:1px solid #cacaca; margin-bottom:10px; height:30px; line-height:30px; color:#444; font-size:14px;}

.book_middle_text_next a{color:#444;font-size:14px;text-decoration:none;}

.book_middle_text_next a:hover{color:#F42A1E;}

#TextSelect { margin-top:10px;text-align:center;height: 44px; line-height:44px;}

#TextSelect span{height:44px; margin-left:10px; float:left; display:inline;}

#TextSelect img{margin-left:6px; margin-top:11px; float:left; display:inline;}

.ts1{width:262px; float:left; display:inline;}

.ts2{width:152px; float:left; display:inline;}

.ts3{width:152px; float:left; display:inline;}

.ts4{width:310px; float:right; display:inline;}

.ts4 a{color:#444;font-size:14px;text-decoration:none;}

.ts4 a:hover{color:#ff0000;}

/* 友情链接 */

.linkbox{width:890px;border-bottom:1px solid #dfdfdf;overflow:hidden;}

.linkbox dt{height:33px;background:url(../img/mbox-tbg.png) right top no-repeat;overflow:hidden;clear:both;}

.linkbox dt strong{height:33px;line-height:33px;padding-left:10px;padding-right:4px;display:block;float:left;color:#F42A1E;font-size:14px;background:url(../img/mbox-tbg.png) left top no-repeat;letter-spacing:1px;}

.linkbox dd{border-left:1px solid #dfdfdf;border-right:1px solid #dfdfdf;padding:2px 4px 4px;overflow:hidden;}

.linkbox li{text-align:left;}

.f5{width:100%;overflow:hidden;clear:both;padding-bottom:10px;margin:0 auto;padding-left:3px;}

.f5 li{float:left;line-height:14px;padding:8px 10px 0px;white-space:nowrap;}

.f5 li a{color:#666666;float:left;}

/* 底部定位 */

.footer{color:#555;text-align:center;padding-bottom:30px;border-top:1px solid #E5EFD6;padding-top:10px;line-height:18px;}

.footer .link{text-align:center;padding:5px 0px;}

.footer .link a{margin:0px 5px;color:#666666;}

.footer .powered{font-size:10px;line-height:25px;}

.footer .powered strong{color:#690;}

.footer .powered strong span{color:#F93;}

.footer .copyright{color:#666666;line-height:23px;}

/* 下载定位 */

#mark_bar{margin:auto 0 0 0px;width:160px;height:50px;text-align:center;}

.mark{float:left;cursor:pointer;text-align:center;width:158px;height:46px;background:url(../img/download_btn2.gif) no-repeat;font-family:????,Arial,Helvetica,sans-serif,Lucida,Lucida Grande,Tahoma;line-height:46px;margin-left:5px;margin-top:10px;}

.mark div{text-align:center;}

.mark div span{font-size:20px;font-weight:bold;}



li.volume1{
	width:848px;
	height:30px;
	background-color:#FFF68F;
	line-height:30px;
	color:#444;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	clear:both;
}
li.volume{
	width:848px;
	height:30px;
	background-color:#F8F8FF;
	line-height:30px;
	color:#444;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	clear:both;
}

.movieIntro {
	color:#606060;
	padding:0 10px;
	line-height:23px;
}


.ad1{width:760px; margin:0 auto;margin-top:8px;}

/* LINKS */

.footer11{color:#555;text-align:left;padding-bottom:15px;border-top:1px solid #E5EFD6;padding-top:10px;line-height:10px;}

.footer11 .link{text-align:left;padding:5px 0px;}

.footer11 .link a{margin:0px 5px;color:#666666;}

.footer11 .powered{font-size:10px;line-height:15px;}

.footer11 .powered strong{color:#690;}

.footer11 .powered strong span{color:#F93;}

.footer11 .lj1{color:#666666;line-height:15px;}


.nav{ margin:auto; width:888px; margin-top:10px; height:40px; overflow:hidden; background:#3d9c04;}
.nav ul li{ float:left; line-height:44px;}
.nav ul li a{ padding:0 17px; color:#FFF; font-weight:bold; font-size:15px;}

.top11{width:890px;margin:5px auto;}
#top1{width:890px;margin:5px auto;}
#top1 .r{float:right;}
#top1 .z{float:left;}